
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
:root {
    --main-color: #1c1c1c;
    --bg-section-color : #F7F7F7;
    --paragraph-color: #748182;
    --gray-color: #eee;
    --white-color: #ffffff;
    --form-color: #f4f4f4;
    --main-transition: 0.4s;
}
/* start global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.section-padding {
    padding: 4rem 0;
}
.bg-section {
    background-color: var(--bg-section-color);
}
.paragraph {
    color: var(--paragraph-color);
    line-height: 1.8;
}
.nav-item {
    cursor: pointer;
}
/* end global rules */
/* start scrolling */
.navbar {
    background-color: transparent;
    transition: background-color var(--main-transition) ease;
}  
.navbar.scrolled {
    background-color: #3F3D56;
}
/* end scrolling */
.services .item .icon ,
.contact .icon{
    width: 85px;
    height: 85px;
    background-color: var(--bg-section-color);
    margin: 20px auto;
    transition: var(--main-transition);
}
.contact .icon {
    width: 70px;
    height: 70px;
}
.services .item:hover .icon,
.contact .item:hover .icon {
    color: var(--white-color);
    background-color: var(--main-color);
}
.form-control:focus {
    background-color: var(--form-color);
    box-shadow: 0 0 0 0.25rem rgb(1 45 109 / 25%);;
}
/* start Faqs */
.accordion {
    --bs-accordion-active-bg: #8396b3;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(85 118 166 / 25%);
}
/* end Faqs */
